.inner-container {
  border: 1px solid #aeaeae;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .input-group {
    padding: .5em;
    text-align: right;

    .form-input {
      margin-left: .5em;
      border: none;
      border-bottom: 1px solid #000;
      background-color: inherit;

      &.invalid {
        border-color: red;
      }

      &:focus {
        outline: none;
      }
    }

    small {
      display: block;
      font-size: .3em;
      font-style: italic;
      color: red;
    }
  }

  .submit-button {
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    outline: none;

    &:hover {
      transition: ease-in 300ms;
      background-color: #4fb7f3;
      color: #fff;
    }
  }
}
