@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i|Sanchez:400,400i');

.hint {
  padding: 10px;
  background-color: rgba(95, 219, 95, 0.712);
  border: 1px solid #197219;
  margin-bottom: 10px;
  font-family: 'Arimo', sans-serif;

  p {
    color: #197219;
    font-style: italic;
    margin: 3px;
  }
}

.inner-container {
  width: 250px;
  border: 3px solid #1badba;
  box-shadow: 1px 7px 10px #aaa;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 50px auto;
  background: #ffffff;
  text-align: center;

  .input-group {
    padding: .5em;
    text-align: right;

    .form-input {
      margin-left: .5em;
      border: none;
      border-bottom: 1px solid #000;
      background-color: inherit;
      font-family: 'Sanchez', serif;

      &.invalid {
        border-color: red;
      }

      &:focus {
        outline: none;
      }
    }

    small {
      display: block;
      font-size: .3em;
      font-style: italic;
      color: red;
    }
  }

  .submit-button {
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    outline: none;

    &:hover {
      transition: ease-in 300ms;
      background-color: #4fb7f3;
      color: #fff;
    }
  }
}

.location-display {
  padding: 0;
  margin-top: 10px;
  text-align: center;
  font-family: 'Arimo', sans-serif;

  h4, h3 {
    font-style: italic;
  }

  .success-location {
    padding: 10px;
    background-color: rgba(55, 153, 209, 0.712);
    border: 1px solid #135472;
    color: #135472;

    h3 {
      color: #fff;
      font-family: 'Sanchez', sans-serif;
    }
  }

  .invalid-location {
    padding: 10px;
    background-color: rgba(223, 136, 120, 0.712);
    border: 1px solid #b6221d;
    color: #b6221d;
  }
}
