.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .input-group {
    padding: .5em;
    text-align: right;

    .login-input {
      margin-left: .5em;
      border: none;
      border-bottom: 1px solid #000;

      &:focus {
        outline: none;
      }
    }

    .invalid {
      border-color: red;
    }
  }

  .submit-button {
    width: fit-content;
  }
}
