@import './sass/_formStyles';
@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i|Sanchez:400,400i');

body {
  background-color: #c9c9c9;
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
